body{
    background-color: #cbdee7;
    font-family: "Inter", sans-serif;
  }
  
  #wordSearchContainer {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 5px;
      max-width: 500px; 
      margin: 0 auto;
  }
  
  #wordSearchContainer div {
      width: 50px; 
      height: 50px; 
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #52a55b;
      cursor: pointer;
  }
  
  #wordSearchContainer div.selected {
      color: #FF439D;
  }
  

  .wordsList {
      margin: 20px auto;
      max-width: 90vw;
      padding: 10px;
      background-color: #f7f7f7;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      display: block;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .wordsList div {
      padding: 8px 16px;
      margin: 5px;
      background-color: #e0e0e0;
      border-radius: 4px;
      font-size: 16px;
      text-align: center;
  }
  
  .wordsList div.found::after {
      color: #6286B0; 
  }
  
  .wordsList div.found {
      background-color: #6286B0; 
      text-decoration: line-through;
  }

  h1{
    font-family: 'Potta One', sans-serif; 
    color: #6286B0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 300%;
    margin-top: -1%;
    margin-bottom: -1%;
}