body{
    background-color: #CBDEE7;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 2%;
}
ol img{
    height: 30px;
}
li:not(:last-child){
    margin-right: 25%;
}
li:not(:last-child)::after{
    display: inline-block;
    margin-left: 25%;
    width: 12px;
    height: 12px;
    background-color: #CBDEE7;
    border-radius: 50%;
}

header{
    background-image: url(../Imagenes/arriba.png);
    background-size: contain;
    margin-top: -13px;
}